$fuentePrincipal:'Raleway', sans-serif;

// Colores
$green:#4cb8b3;
$pink:#F53756;
$yellow:#f3f46d;
$purple: #752f97;
$black:#000;
$white: #fff;

// Media Queries



// Fuentes
$thin:300;
$regular:400;
$bold:700;
$black:900;


// Separaciones

$separacion:5rem;


