.galeria{
    padding: $separacion 0;

    h3{
        text-align: center;
    }
}

.galeria__imgs{
    margin-top: 2rem;
    list-style: none;
    padding: 0;
    @include grid(2,$separacion);
    @include tablet{
        @include grid(4,$separacion/2)
    }
    @include desktop{
        @include grid(6,$separacion/2)
    }
}

.overlay{
    position: fixed;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    top: 0;
    display: grid;
    place-items: center;
}

.btn-cerrar{
    cursor: pointer;
    width: 5rem;
    margin: 0;
    height: 5rem;
    background: $white;
    display: grid;
    place-items: center;
    font-weight: $black;
    border-radius: 50%;
}

