.header{
    background: $green;
    .content-header{
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar{
        display: flex;
    }
}